{{left_sidebar_enabled, right_sidebar_enabled = False, True}}

{{extend 'layout.html'}}

<p>正在全力开发当中</p>

{{block right_sidebar}}
  <br/>
  <div class="panel panel-info">
    <div class="panel-heading"><h3 class="panel-title">
        <i class="glyphicon glyphicon-cog"></i>
        {{=T("More Information")}}
      </h3></div>
    <ul class="list-group">
      <li class="list-group-item"><a href="{{=URL('index')}}">返回主页</a></li>
      <li class="list-group-item"><a href="{{=URL('about')}}">关于我们</a></li>
    </ul>
  </div>
{{end}}
